{erl_opts, []}.

{deps, [
   datum,

   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   },

   {hash, ".*",
      {git, "https://github.com/fogfish/hash", {branch, master}}
   },

   {datalog, ".*",
      {git, "https://github.com/fogfish/datalog", {branch, master}}
   },

   {semantic, ".*",
      {git, "https://github.com/fogfish/semantic", {branch, master}}
   },

   {esio, ".*",
      {git, "https://github.com/fogfish/esio", {branch, master}}
   }
]}.
