{erl_opts, []}.

{deps, [
   datum,
   % datalog,

   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   },

   {hash, ".*",
      {git, "https://github.com/fogfish/hash", {branch, master}}
   },

   {semantic, ".*",
      {git, "https://github.com/fogfish/semantic", {branch, 'release-2-strict-types'}}
   },

   {datalog, ".*",
      {git, "https://github.com/fogfish/datalog", {branch, 'release-2-enchance-syntax'}}
   },

   {esio, ".*",
      {git, "https://github.com/fogfish/esio", {branch, master}}
   }
]}.

%%
%%
{plugins                , [coveralls]}.
{cover_enabled          , true}.
{cover_export_enabled   , true}.
{coveralls_coverdata    , "/tmp/test/elasticlog/ct.coverdata"}.
{coveralls_service_name , "travis-ci"}.
